#food-header {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
    }
    
    body {
    background-color: lightpink;
    }
    
    ol {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-position: inside;
    }
    
    .special-item {
    color: red;
    font-weight: bold;
    }
    
    .recommended-item {
    color: green;
    }
    .abc {
    text-align: center;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-position: inside;
    }
    
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    }
    
    #submitBtn {
    background-color: rgb(145, 102, 191);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    }
    
    textarea {
    width: 100%;
    height: 100px;
    }
    
    footer {
    background-color: lightblue;
    padding: 20px;
    }